/* ==========================================================================
   Capital Framework theme overrides
   ========================================================================== */

/* cf-buttons
   ========================================================================== */

// .btn
@btn-text:                      @white;
@btn-bg:                        @pacific;
@btn-bg-hover:                  @pacific-80;
@btn-bg-active:                 @navy-80;

// .btn__secondary
@btn__secondary-text:           @white;
@btn__secondary-bg:             @gray;
@btn__secondary-bg-hover:       @gray-80;
@btn__secondary-bg-active:      @darkgray;

// .btn__warning
@btn__warning-text:             @white;
@btn__warning-bg:               @redorange;
@btn__warning-bg-hover:         @redorange-80;
@btn__warning-bg-active:        @dark-redorange;

// .btn__disabled
@btn__disabled-text:            @gray;
@btn__disabled-bg:              @gray-20;
@btn__disabled-outline:         @gray-20;

