<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->

<head>

<!--
    ===========
    GLOBAL META
    ===========
-->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!--
    ==================
    PAGE-SPECIFIC META
    ==================
-->

    <title>Capital Framework demo page</title>
    <meta name="description" content="A test page for Capital Framework components.">

<!--
    ======
    STYLES
    ======
    The number of stylesheets here must be kept to a minimum.
    Unless adding a significant amount of CSS that is specific to a single page
    or section of the site, all new styles should be added to src/static/css/app.less.
-->

<!--[if lt IE 9]>      <link rel="stylesheet" href="/static/css/main.ie.min.css"> <![endif]-->
<!--[if gt IE 8]><!--> <link rel="stylesheet" href="/static/css/main.min.css"> <!--<![endif]-->

<!--
    ============
    HEAD SCRIPTS
    ============
    The following scripts must be included in the head. DO NOT ADD ANY MORE.
    All other scripts should go before the closing body tag.
    If you come across a script that makes a convincing case to be included in
    the head, then file an issue or PR to discuss including it.
-->

<!--[if lt IE 9]>
    <script src="/static/vendor/html5shiv/html5shiv-printshiv.min.js"></script>
<![endif]-->

    <script>
        // Confirm availability of JS and remove no-js class from html
        var docElement = document.documentElement;
        docElement.className = docElement.className.replace(/(^|\s)no-js(\s|$)/, '$1$2');
    </script>

</head>

<body>

<!--
    =================
    Begin page source
    =================
-->

<header class="wrapper wrapper__match-content" role="banner">
    <div class="block block__sub">
        <h1>Capital Framework demo page</h1>
    </div>
</header>

<main class="content" id="main" role="main">
    <div class="content_bar"></div>
    <div class="content_wrapper">
        <div class="content_main">
            <div class="feature-list">

                <p class="block u-mt0 intro-message">
                    This demo page contains a small sample from each component.
                    Refer to the docs for the full set of patterns.
                </p>

                <section class="feature-list_item block">

                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Core</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-core/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>

                    <div class="block block__sub u-mt0">
                        <h2>Colors</h2>
                        <p>
                            <span class="color-demo color-demo__btn-bg"></span>
                            <span class="color-demo color-demo__btn-secondary-bg"></span>
                            <span class="color-demo color-demo__btn-disabled-bg"></span>
                        </p>
                    </div>

                    <div class="block block__sub">
                        <h2>Typography base styles</h2>
                        <div class="typography-demo">
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">Superheading</h3>
                                    <div class="spec">
                                        Avenir Next Demi<br>
                                        48px / 66px
                                    </div>
                                </div>
                                <h1 class="superheading">Getting out of debt</h1>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">H1</h3>
                                    <div class="spec">
                                        Avenir Next Regular<br>
                                        34px / 44px
                                    </div>
                                </div>
                                <h1>Getting out of debt</h1>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">H2</h3>
                                    <div class="spec">
                                        Avenir Next Regular<br>
                                        26px / 33px
                                    </div>
                                </div>
                                <h2>Getting out of debt</h2>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">H3</h3>
                                    <div class="spec">
                                        Avenir Next Regular<br>
                                        22px / 28px
                                    </div>
                                </div>
                                <h3>Getting out of debt</h3>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">H4</h3>
                                    <div class="spec">
                                        Avenir Next Medium<br>
                                        18px / 22px
                                    </div>
                                </div>
                                <h4>Getting out of debt</h4>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">H5</h3>
                                    <div class="spec">
                                        Avenir Next Demi<br>
                                        14px / 22px<br>
                                        uppercase<br>
                                        letter-spacing: 1px
                                    </div>
                                </div>
                                <h5>Getting out of debt</h5>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">H6</h3>
                                    <div class="spec">
                                        Avenir Next Demi<br>
                                        12px / 22px<br>
                                        uppercase<br>
                                        letter-spacing: 1px
                                    </div>
                                </div>
                                <h6>Getting out of debt</h6>
                            </div>
                            <div class="block block__sub typography-demo_item">
                                <div class="typography-demo_item-header">
                                    <h3 class="h5">Body</h3>
                                    <div class="spec">
                                        Georgia<br>
                                        16px / 22px<br>
                                    </div>
                                </div>
                                <p>
                                    Use this tool to compare school data and relevant financial factors to
                                    make a more informed decision for your future.
                                </p>
                            </div>
                        </div><!-- END .block.block__sub -->
                    </div><!-- END .typography-demo -->

                    <div class="block block__sub">
                        <h2>Input base styles</h2>
                        <form action="#">
                            <p><input class="a-text-input" placeholder="placeholder text" type="text"></p>
                            <p><textarea class="a-text-input">Example entry</textarea></p>
                        </form>
                    </div>

                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Buttons</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-buttons/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <p><a href="#" class="a-btn">Link Button</a> <button class="a-btn">Form Button</button></p>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Expandables</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-expandables/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <div class="o-expandable o-expandable__padded">
                        <button class="o-expandable_target o-expandable_header">
                            <span class="o-expandable_label o-expandable_header-left">
                                Expandable Header
                            </span>
                            <span class="o-expandable_link o-expandable_header-right">
                                <span class="o-expandable_cue-open">
                                    Show
                                    <span class="cf-icon cf-icon-plus-round"></span>
                                </span>
                                <span class="o-expandable_cue-close">
                                    Hide
                                    <span class="cf-icon cf-icon-minus-round"></span>
                                </span>
                            </span>
                        </button>
                        <div class="o-expandable_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                elit. Neque ipsa voluptatibus soluta nobis unde quisquam
                                temporibus magnam debitis quidem. Ducimus ratione
                                corporis nesciunt earum vel est quaerat blanditiis
                                dolore ipsa?
                            </p>
                        </div>
                    </div>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Forms</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-forms/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <form class="o-form__input-w-btn">
                        <div class="o-form__input-w-btn_input-container">
                            <input class="a-text-input" type="text" title="Test input">
                        </div>
                        <div class="o-form__input-w-btn_btn-container">
                            <button class="a-btn" type="submit">Search</button>
                        </div>
                    </form>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Grid</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-grid/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <div class="sample-grid">
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-1"></div>
                        <div class="sample-grid_col sample-grid_col-6"></div>
                        <div class="sample-grid_col sample-grid_col-6"></div>
                        <div class="sample-grid_col sample-grid_col-4"></div>
                        <div class="sample-grid_col sample-grid_col-4"></div>
                        <div class="sample-grid_col sample-grid_col-4"></div>
                        <div class="sample-grid_col sample-grid_col-3"></div>
                        <div class="sample-grid_col sample-grid_col-3"></div>
                        <div class="sample-grid_col sample-grid_col-3"></div>
                        <div class="sample-grid_col sample-grid_col-3"></div>
                    </div>
                    <br>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Icons</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-layout/docs/">
                           <span class="cf-icon cf-icon-icons"></span>
                           Docs
                       </a>
                    </div>
                    <div>
                        <span class="cf-icon cf-icon-approved"></span>
                        <span class="cf-icon cf-icon-approved-round"></span>
                        <span class="cf-icon cf-icon-error"></span>
                        <span class="cf-icon cf-icon-error-round"></span>
                        <span class="cf-icon cf-icon-help"></span>
                        <span class="cf-icon cf-icon-help-round"></span>
                        <span class="cf-icon cf-icon-delete"></span>
                        <span class="cf-icon cf-icon-delete-round"></span>
                        <span class="cf-icon cf-icon-plus"></span>
                        <span class="cf-icon cf-icon-plus-round"></span>
                        <span class="cf-icon cf-icon-minus"></span>
                        <span class="cf-icon cf-icon-minus-round"></span>
                        <span class="cf-icon cf-icon-update"></span>
                        <span class="cf-icon cf-icon-update-round"></span>
                    </div>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Layout</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-layout/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <main class="content content__2-1" id="main" role="main">
                        <div class="content_bar"></div>
                        <div class="content_wrapper">
                            <section class="content_main">
                                <h2>Main content area</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    Cum corrupti tempora nam nihil qui mollitia consectetur
                                    corporis nemo culpa dolorum! Laborum at eos deleniti
                                    consequatur itaque officiis debitis quisquam! Provident!
                                </p>
                            </section>
                            <aside class="content_sidebar" style="background: #F1F2F2">
                                Sidebar
                            </aside>
                        </div>
                    </main>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Pagination</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-pagination/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <nav class="m-pagination" role="navigation" aria-label="Pagination">
                      <a class="a-btn
                                a-btn_icon-position-left
                                a-btn_icon__left
                                m-pagination_btn-prev"
                         href="?page=1#o-filterable-list-controls">
                          Newer
                      </a>
                      <a class="a-btn
                                a-btn_icon-position-right
                                a-btn_icon__right
                                m-pagination_btn-next"
                         href="?page=3#o-filterable-list-controls">
                          Older
                      </a>
                      <form class="m-pagination_form"
                              action="#o-filterable-list-controls">
                          <label class="m-pagination_label"
                                   for="m-pagination_current-page">
                              Page
                              <span class="u-visually-hidden">
                                  number 2 out
                              </span>
                              <input class="m-pagination_current-page"
                                       id="m-pagination_current-page"
                                       name="page"
                                       type="number"
                                       min="1"
                                       max="149"
                                       pattern="[0-9]*"
                                       inputmode="numeric"
                                       value="2">
                              of 149
                          </label>
                          <button class="a-btn
                                         a-btn__link
                                         m-pagination_btn-submit"
                                    id="m-pagination_btn-submit"
                                    type="submit">Go</button>
                      </form>
                  </nav>
                    <br>
                </section>

                <section class="feature-list_item block block__padded-top block__border-top">
                    <div class="feature-header">
                        <h1 class="feature-header_name">CF-Typography</h1>
                        <a class="feature-header_docs"
                           href="https://cfpb.github.io/cf-typography/docs/">
                           <span class="cf-icon cf-icon-document"></span>
                           Docs
                       </a>
                    </div>
                    <aside class="m-pull-quote">
                        <div class="m-pull-quote_body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            Cum corrupti tempora nam nihil qui mollitia consectetur
                            corporis nemo culpa dolorum!
                        </div>
                        <footer>
                            <cite class="m-pull-quote_citation">
                                - Author Name
                            </cite>
                        </footer>
                    </aside>
                    <br>
                    <header class="m-slug-header">
                        <h2 class="a-heading">
                            Blog summary
                        </h2>
                    </header>
                    <header class="m-meta-header">
                        <div class="m-meta-header_right">
                            <span class="a-date">
                                Nov 4, 2013
                            </span>
                        </div>
                        <div class="m-meta-header_left">
                            <span class="u-visually-hidden">Categories: </span>
                            <a href="#" class="a-heading a-heading__icon">
                                <span class="cf-icon cf-icon-credit-card"></span>
                                Consumer finance
                            </a>
                            |
                            <a href="#" class="a-heading a-heading__icon">
                                <span class="cf-icon cf-icon-credit-card"></span>
                                Consumer finance
                            </a>
                        </div>
                    </header>
                </section>

            </div><!-- END .feature-list -->
        </div><!-- END .content_main -->
    </div>
</main>

<footer role="contentinfo">
    <!-- Footer stuff -->
</footer>

<!--
    ============
    BODY SCRIPTS
    ============
    The number of scripts here must be kept to a minimum.
    Unless adding a significant amount of JS that is specific to a single page
    or section of the site, all custom JS should be added to src/static/js/app.js.
-->

<script src="/static/js/main.min.js"></script>

</body>
